@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #1c1917;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif; /* Fallback/Definition if needed */
}

.dark {
  --background: #050505;
  --foreground: #a8a29e;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
